@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Times New Roman Custom';
    src: url('./assets/fonts/TimesNewRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.bgImage {
    background-image: url('assets/image3.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.p-confirm-popup-footer {
    display: flex !important;
    justify-content: flex-end;
    gap: 0.75rem;
}